
.navbar.navbar-default.navbar-fixed-buttom
	.container
		.navbar-header
			a.navbar-brand(href="/") Movie Box
		if user
			p.navbar-text.navbar-right
				span Welcome,#{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/admin/user/signout") Sign Out
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="/admin/user/signup") Sign Up
				span &nbsp;|&nbsp;
				a.navbar-link(href="/admin/user/signin") Sign In
				//- a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") Sign Up
				//- span &nbsp;|&nbsp;
				//- a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") Sign In
.container
	.row
		.page-header.clearfix(style="margin:0;")
			h3 #{title}
			.col-md-4
				seall movie
			.col-md-8
				form(action="/search",method="GET")
					.input-group.col-sm-4.pull-right
						input.form-control(type="text",name="q")
						span.input-group-btn
							button.btn.btn-default(type="submit") Search

#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST",action="/admin/user/signup")
				.modal-header
					button.close(type="button" class="" data-dismiss="modal" aria-hidden="true") &times;
					h4.modal-title Sign Up
				.modal-body
					.form-group
						label(for="signupName") Name
						input#signupName.form-control(name="user[name]",type="text")

					.form-group
						label(for="signupPwd") Password
						input#signupPwd.form-control(name="user[password]",type="password")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") Cancel
					button.btn.btn-success(type="submit") Submit

#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST",action="/admin/user/signin")
				.modal-header
					button.close(type="button" class="" data-dismiss="modal" aria-hidden="true") &times;
					h4.modal-title Sign In
				.modal-body
					.form-group
						label(for="signinName") Name
						input#signinName.form-control(name="user[name]",type="text")

					.form-group
						label(for="signinPwd") Password
						input#signinPwd.form-control(name="user[password]",type="password")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") Cancel
					button.btn.btn-success(type="submit") Submit